<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<localRepository>PATH_TO_YOUR_LOCAL_REPO</localRepository>
<proxies>
<proxy>
<id>GBG-proxy</id>
<active>true</active>
<protocol>http</protocol>
<host>hubproxy.sh.cn.ao.ericsson.se</host>
<port>8080</port>
<nonProxyHosts>*.ericsson.se|local.net|localhost</nonProxyHosts>
</proxy>
</proxies>

<profiles>
<profile>
<id>MSDP</id>

<repositories>
<repository>
<id>MSDP Repository</id>
<url>http://artifactory.msdp.sh.cn.ao.ericsson.se/artifactory/repo/</url>
</repository>
</repositories>

<pluginRepositories>
<pluginRepository>
<id>MSDP Plugin Repository</id>
<url>http://artifactory.msdp.sh.cn.ao.ericsson.se/artifactory/repo/</url>
</pluginRepository>
</pluginRepositories>
</profile>
</profiles>

<activeProfiles>
<activeProfile>MSDP</activeProfile>
</activeProfiles>

</settings> 